@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  :root {
    --background: #f8fafc; /* slate-50 */
    --foreground: #0f172a; /* slate-900 */
  }

  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-background text-foreground bg-gray-50;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
